@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;900&family=Syne:wght@400;500;600;700;800&display=swap");

.contacts {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('/assets/imgs/contactbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.contacts::before {
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: -1; 
}

.contact-container {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.8); /* Adjust the background color and opacity */
    color: #fff;
    border-radius: 10px;
    border: 1px solid #5a005a;
    padding: 6vh 8vh;
    overflow: hidden;
    box-shadow: 0px 0px 30px rgba(108, 0, 151, 0.8);
}
  
  .contact-header,
  .contact-form {
    padding: 20px;
  }
  
  .contact-header h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #303030;
    border: 1px solid #666666;
    border-radius: 5px;
    color: #fff;
    box-sizing: border-box;
  }
  
  .contact-form button {
    background: #5a005a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .footer {
    border-top: 0.1px solid white;
    background-color: #000;
    color: #fff;
    padding: 30px 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}


.company-header {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 900;
    letter-spacing: 1.2px;
}

.company-paragraph {
    font-size: 1em;
    color: #ffffffb2;
    line-height: 1.5;
}

.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.social-icons i {
    font-size: 1.8em;
    transition: all .5s ease;
}

.footer-center,
.footer-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column,
.footer-right-column {
    max-width: 200px;
}

.column-header {
    color: #c812e8;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
}

.footitem {
    line-height: 1.8;
    margin: 0;
    /* text-align: center; */
    font-size: 0.9em;
    list-style-position: inside;
    transition: all .5s ease;
}

.footitem:hover{
  color: #800080;
  cursor: pointer;
}

.copyright{
  font-size: 0.8em;
  margin-top: 5vh;
  color: #ffffffb2;
}

.copyright a {
  text-decoration: none;
  color: #e23eff;
}

.footer a{
  text-decoration: none;
  color: #fff;
  transition: all .5s ease;
}

.footer a:hover{
  color: #e800e8;
}

.copyrightmobile{
  display: none;
  font-size: 0.8em;
  margin-top: 5vh;
  color: #ffffffb2;
}

.copyrightmobile a {
  text-decoration: none;
  color: #e23eff;
}

@media screen and (max-width: 1000px){
  .copyright{
    display: none;
  }

  .copyrightmobile{
    display: block;
  }

  .footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .footerleft{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-center,
  .footer-right{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-center{
    margin-top: 2em;
  }
}