@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;900&family=Syne:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@900&display=swap');
.steps {
    margin-top: 10vh;
    background: linear-gradient(to bottom, #ac00ac, #000);
    display: flex;
    justify-content: space-around;
    height: 35vh;
    gap: 40px;
    backdrop-filter: blur(30px);
  }
  
  .fourstep {
    text-align: center;
    padding: 20px;
    width: 200px; 
    color: #d801d8; 
    position: relative; 
  }
  
  .stepNumber {
    display: block;
    position: relative;
    text-align: start;
    z-index: 1;
    margin: 20px;
    font-size: 2em;
    left: -20%;
    /* top: 5%; */
  }
  
  .stepNumber::after {
    display: block;
    content: attr(heading-number);
    position: absolute;
    z-index: -1; 
    font-size: 3.5em;
    top: -20px;
    font-family: 'poppins';
    left: 100%; 
    transform: translateX(-50%); 
    color: transparent; 
    -webkit-text-stroke: 1px #cccccc61;
  }
  
  .stepname {
    font-size: 1.3em;
    margin: 0;
    color: #fff; 
    position: relative;
    left: -20%;
  }


  .faq-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .faq-sub-paragraph{
    color: #ccc;
    margin-bottom: 15px;
  }

  .faq-heading{
    font-family: 'Roboto Condensed', sans-serif; 
    color: #800080;
    font-size: 3.4em;
  }
  
  .faq-item {
    background: transparent;
    margin-bottom: 10px;
    border: 1px solid #800080;
    border-radius: 10px;
  }
  
  .question {
    padding: 10px;
    cursor: pointer;
    color: #d801d8;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .answer {
    padding: 10px;
    display: none;
    min-height: 0;
    color: #ccc;
    overflow: hidden;
    transition: all .5s ease;
    transition: all .5s ease;
  }
  
  .plus-minus-icon {
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
    font-size: 25px;
    font-weight: 900;
  }

  @media (max-width: 600px) {
    .faq-container {
      padding: 10px;
    }
  }



  @media screen and (max-width: 1000px){

    .steps {
     
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

  }